{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<ul class="cards">
  {% for car in cars %}
    <li>
      <a href="{% url 'car-info' car.slug %}" class="card">
        <img src="{{ car.images.url }}" class="card__image" alt="" />
        <div class="card__overlay"> 
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <div class="card__header-text">
              <h3 class="card__title">{{ car.name }}</h3>            
              <span class="card__status">{{ car.brand }}</span>
            </div>
          </div>
          <p class="card__description">{{ car.description }}</p>
        </div>
      </a>      
    </li>
    {% endfor %}

   
  {% endblock %}
    